
mat-form-field + mat-form-field {
    margin-left: 8px;
    }
 
    .example-button-row{
      display: flex;
      justify-content: center;
    }
 
    .center{
      display: flex;
      justify-content: center;
    }
 
  /* Structure */
 
  .mat-mdc-form-field {
    font-size: 14px;
  }
 
  .search{
    width: 30%;
    float: right;
  }
 
  .container{
    width:99%;
    padding-left: 0.5%;
 
  }
  .card{
 
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    border-radius:10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
 
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
 
  .card-content{
    padding:10px;
  }
  .card-header{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
   background-color: #6d34aa;
   align-items: stretch;
   box-shadow: 0 1px 1px rgb(10 10 10 / 10%);
   color: whitesmoke;
   height: 60px;
  }
  .card-header-title{
 
    align-items: center;
    color: #ffffff;
    display: flex;
    flex-grow: 1;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 10px;
 
  }
  .card-header-icon{
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: 0 0;
      border: none;
      color: currentColor;
      font-family: inherit;
      font-size: 1em;
      margin: 0;
      padding: 0;
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 0.75rem 1rem;
  }
 
  .initiateRequestButton{
    display: flex;
    justify-content: center;
  }
 
  table th{
    text-align: center;
  }
  table tr{
    cursor: pointer;
  }
 
  table td{
    text-align: center;
  }
 
  .spinner{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.4);
    z-index: 999;
  }
 
  mat-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
 