<div class="col-12">
    <div class="card">
        <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">Application Review</h3>
        </div>
        <div class="card-body">
            <div class="tab-content">


<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>Request No.</th>
      <th>Contract No.</th>
      <th>Name</th>
      <th>Requestor</th>
      <th>Requestor Dept & Desg.</th>
      <th>Requested Date</th>
      <th>Portfolio</th>
      <th>Agency Name</th>
      <th>Query Status</th>
    </tr>
  </thead>
  <tbody>
    <tr routerLink="/Reports">
      <td>1</td>
      <td>1</td>
      <td>Nikhil</td>
      <td>Ankit</td>
      <td>Collection</td>
      <td>17/01/2023</td>
      <td>-</td>
      <td>TMFL</td>
      <td>In Progress</td>
    </tr>
    <tr routerLink="/Reports">
        <td>2</td>
        <td>2</td>
        <td>Ram</td>
        <td>Ankit</td>
        <td>Collection</td>
        <td>17/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      <tr routerLink="/Reports">
        <td>3</td>
        <td>3</td>
        <td>Ankit</td>
        <td>Rahul</td>
        <td>Collection</td>
        <td>15/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      <tr routerLink="/Reports">
        <td>4</td>
        <td>4</td>
        <td>Ajay</td>
        <td>Mohit</td>
        <td>Operation</td>
        <td>14/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>Completed</td>
      </tr>
      <tr routerLink="/Reports">
        <td>5</td>
        <td>5</td>
        <td>Parth</td>
        <td>Birju</td>
        <td>Collection</td>
        <td>10/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>Completed</td>
      </tr>
      <tr routerLink="/Reports">
        <td>7</td>
        <td>7</td>
        <td>Lalit</td>
        <td>Sanjay</td>
        <td>Operation</td>
        <td>09/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>Open</td>
      </tr>
      <tr routerLink="/Reports">
        <td>8</td>
        <td>8</td>
        <td>Gopal</td>
        <td>Nihar</td>
        <td>Operation</td>
        <td>17/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      <tr routerLink="/Reports">
        <td>9</td>
        <td>9</td>
        <td>Naveen</td>
        <td>Sohail</td>
        <td>Collection</td>
        <td>13/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>Completed</td>
      </tr>
      <tr routerLink="/Reports">
        <td>10</td>
        <td>10</td>
        <td>Nikhil</td>
        <td>Suraj</td>
        <td>Operation</td>
        <td>17/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      <tr routerLink="/Reports">
        <td>11</td>
        <td>11</td>
        <td>Juned</td>
        <td>Govind</td>
        <td>Collection</td>
        <td>17/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      <tr routerLink="/Reports">
        <td>12</td>
        <td>12</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>13</td>
        <td>13</td>
        <td>Ram</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>14</td>
        <td>14</td>
        <td>shayam</td>
        <td>Raj</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>15</td>
        <td>15</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>16</td>
        <td>16</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>17</td>
        <td>17</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>18</td>
        <td>18</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>19</td>
        <td>19</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>20</td>
        <td>20</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>21</td>
        <td>21</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>22</td>
        <td>22</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>23</td>
        <td>23</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>24</td>
        <td>24</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>24</td>
        <td>24</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>25</td>
        <td>25</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>
      
      <tr routerLink="/Reports">
        <td>26</td>
        <td>26</td>
        <td>Pooja</td>
        <td>Niharika</td>
        <td>Operation</td>
        <td>16/01/2023</td>
        <td>-</td>
        <td>TMFL</td>
        <td>In Progress</td>
      </tr>

  </tbody>
</table>


            </div>
        </div>
    </div>
</div>