.card-header{
  border-top-left-radius:10px;
  border-top-right-radius:10px;
 background-color: #6d34aa;
 align-items: stretch;
 box-shadow: 0 1px 1px rgb(10 10 10 / 10%);
 color: whitesmoke;
 height: 60px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.hover-class:hover {
  background-color: #fd7e14;
}

/* .selected-row {
  background-color: yellow; 
} */

.highlighted {
  background-color: #fd7e14; /* Change to your desired highlight color */
}

.example-button-row{
  display: flex;
  justify-content: center;
}