<!-- <form id="myForm" [formGroup]="thisIsMyForm">
	<div [formArrayName]="'formArrayName'">
		<div *ngFor="let x of data; let i = index">
			<div [formGroupName]="i">
				<mat-form-field>
					<label>Name:</label>
      <input formControlName="name" matInput value="">
    </mat-form-field>
    <mat-form-field>
      <label>Type:</label>
      <label>Type:</label>
      <input formControlName="type" matInput value=""/>
    </mat-form-field>
     </div>
    </div>
  </div>
</form>
<button (click)="onSubmit()">Submit Form</button> -->

<!-- <pre> {{this.thisIsMyForm.value|json}}</pre> -->
